/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, li {
    list-style: none;
}
ul {
  padding: 0;
}

/* after reset */

/* variables */
:root {
  --svg-size: 1.5rem;

  --darkest-brown: #120803;
  --darker-brown: #361807;
  --brown: #62320f;
  --lighter-brown: #aa7029;
  --pastel-grey-orange: #e5c0a7;
  --pastel-grey-brown: #caa985;
  --border-left-unread-color: rgb(255, 38, 0);
  --border-left-read-color: rgb(0, 194, 0);

}

/* overall layout */
html,body {
  height: 100%;
}
.layout {
  display: grid;
  place-content: center;
  gap: 2%;
  margin-top: 2%;
}
h1 {
  justify-self: center;
}
.layout > button {
  width: 25%;
  padding: 1rem;
  justify-self: center;
}
.library {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 0.5rem;
  align-items: center;
}

.bookcard {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
}


/* sizes */
svg {
  height: var(--svg-size);
  width: var(--svg-size);
}

/* colors and styles */

.library {
 background: linear-gradient(180deg, var(--darker-brown) 0%, var(--brown) 50%, var(--darker-brown) 100%); 
  border: var(--lighter-brown) outset 2rem;

}
.bookspace {
  background: var(--pastel-grey-brown);
  border: inset var(--darkest-brown) 0.5rem;
  padding: 1rem;

}
.bookcard {
  background-color: white;
  border-radius: 2%;
}
.bookcard.read{
  border-left: var(--border-left-read-color) solid 0.5rem;
}
.bookcard.unread{
  border-left: var(--border-left-unread-color) solid 0.5rem;
}

.bookcard > ul {
  padding: 0.25rem;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.bookcard hr {
  width:90%;
}
.library button {
  background: none;
  border-radius: 0;
}