/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, li {
    list-style: none;
}
ul {
  padding: 0;
}

/* after reset */

/* variables */
:root {
  --svg-size: 1.75rem;
  --min-width: 320px;

  --ink-color: #27221f;

  --lightest: #fff4ef;
  --lighter: #ffeddc;
  --mid-tone: #fde3c6;
  --dark: #eac5b4;
  --darker: #d6bda9;

  --border-left-unread-color: #ff9890;
  --border-left-read-color: #ae8e6cf;
  --creamy-blue: #b3e6fc;
  --creamy-dark: #6d6d6d;

}

/* overall layout */
html,body {
  height: 100%;
}
.layout {
  width: 100%;
  max-width: 1280px;
  min-width: calc(var(--min-width) + 6rem);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
  gap: 0.5rem;

}

.bookcard {
  display: flex;
  /* justify-content: space-between; */
  gap: 0.5rem;
}
.info-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  /* gap: 0.5rem; */
  justify-content: space-evenly;
  text-align: center;
}
.button-wrapper {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  align-items: flex-start;
  gap: 0.25rem;
}
form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
label {
  display: flex;
  flex-flow: column nowrap;
}


fieldset {
  display: flex;
  justify-content: space-around;
}
legend {
  margin: 0 auto;
}
.radio-wrapper {
  display: flex;
  flex-flow: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* sizes */
svg {
  height: var(--svg-size);
  width: var(--svg-size);
}

/* styles */

body {
    background: var(--lighter);
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.layout {
   padding: 3rem 1rem 3rem 1rem;
}
.header {
  color: var(--lightest);
  background-color: var(--dark);
  border-radius: 16px;
  padding: 1rem  3rem;
  border: var(--mid-tone) solid 0.5rem;
 
}
.header > h1 {
  text-shadow:
   0 3px 4px var(--creamy-dark)
  ;
}
.header > button {
  color: var(--ink-color);
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--lighter);
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  border: var(--mid-tone) solid 0.5rem;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.3);
}
button {
  cursor: pointer;
  transition: all 0.3s ease;
}
.header button:hover,
dialog button:hover {
   box-shadow: 
    0 2px 8px rgba(0, 0, 0, 0.4);
}


.library {
  padding: 1rem;
  background-color: var(--dark);
  border-radius: 16px;
  border: var(--mid-tone) solid 0.5rem;
  box-shadow: 
    0 0 8px inset rgba(0, 0, 0, 0.1);
}
.library button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: none;
  border:none;
  flex: none;
}

.bookcard {
  color: var(--ink-color);
  background: var(--lightest);
  border-radius: 8px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  transition: all 0.3s ease;
  box-shadow: 
    0 0 8px rgba(0, 0, 0, 0.2);
}
.bookcard:hover {
  box-shadow: 
    0 2px 8px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

dialog {
  margin: auto;
  padding: 0;
  border: none;
  background: none;
}
.dialog-content {
  background: var(--dark);
  border-radius: 16px;
  border: var(--mid-tone) solid 1rem;
  padding: 1rem 3rem;
}

.dialog-content h1 {
  margin-bottom: 1rem;
  color: var(--lightest);
  text-shadow:
   0 3px 5px var(--creamy-dark)
  ;
}

legend,
label {
  color: var(--ink-color);
  font-weight: bold;

}
input[type="text"],
input[type="number"] {
  border: none;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type="radio"] {
  accent-color: var(--ink-color);
  height: calc(var(--svg-size) - 0.5rem);
  width: calc(var(--svg-size) - 00.5rem);
  margin: 0 auto;
}

.button-container {
  margin-top: 2rem;
}

.button-container button {
  color: var(--ink-color);
  background: var(--lighter);
  /* font-size: 1.1rem; */
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: var(--mid-tone) solid 0.5rem;
}

/* test */
